.bg {
    background: #00d1ff;
    padding-top: 60px;
    /* padding-right: 60px;
    padding-left: 60px; */
}
.glass-bg {
    background: radial-gradient(
            102.08% 102.08% at 75.12% 89.98%,
            rgba(255, 255, 255, 0.4) 0%,
            rgba(255, 255, 255, 0.1) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1px solid rgba(255, 255, 255, 0.58);
    border-radius: 24px;
    /* padding-top: 40px;
padding-bottom: 10px; */
    margin-bottom: 100px;
}
.judul {
    /* font-family: 'Inter'; */
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    /* line-height: 116px; */
}
.polutant_button {
    /* background-color: black; */
    color: white;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 10px;
    text-align: center;
    width: 120px;
    text-align: center;
    font-weight: 700;
}
.polutant_button:hover {
    /* background-color: yellow; */
    color: #0061d2;
}
.polutant_button:hover > .button_line {
    background-color: #0061d2;
}
.active {
    color: #0061d2;
}
.active > .button_line {
    background-color: #0061d2;
}
.button_line {
    background-color: white;
    border-radius: 10px;
    height: 8px;
}
a {
    all: unset;
    cursor: pointer;
}
.marka_jalan {
    background-color: white;
    width: 100px;
    height: 10px;
}

.rbtn {
    all: unset;
}

.card {
    border-radius: 24px;
    border: none;
    padding: 39px 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .card-min-padding {
    border-radius: 24px;
    border: none;
    padding: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

.card > h3 {
    color: #008f87;
    font-weight: 700;
    font-size: 24px;
}

.grey-text {
    color: #696969;
}

.ispu-card {
    border: none;
    border-radius: 24px;
    background-color: #f4f4f4;
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.emoji > p {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.ispu > p {
    font-size: 25px;
    text-align: center;
    margin: -10px 0 0 0;
}

.ispu-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.date {
    margin-bottom: 10px;
}

.category {
    border: none;
    border-radius: 22px;
    height: 40px;
    width: 130px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.baik {
    background-color: #40ff30;
}

.sedang {
    background-color: #57fff5;
}

.tidak-sehat {
    background-color: #fbff30;
}

.sangat-tidak-sehat {
    background-color: #ff6948;
}

.berbahaya {
    background-color: #434343;
    color: white;
}

.ispu-deskripsi {
    margin-top: 30px;
}
